/* .bg-dark{
  background: #131313 !important;
} */
.bg-dark{
  background: #2c3e50 !important;
}
navbar a{
  color: white !important;
}
.navbar-nav a{
  color: white !important;
}
.dropdown-item{
  color: white !important;
}
.dropdown-item:hover{
  color:black !important;
}
/* .dropdown-menu{
  background: #131313 !important;
} */

#op{
  text-align: center;
}
#op:hover{
  text-align: center;
  color:black;
}
#c{
  width: 30%;
}

div.profile{
  background-color: gray !important;
  color: white;
}
.h{
  text-decoration: underline;
  text-align: center;
}

.dept{
  text-align: center;
  background-color: skyblue;
  width:30%;
}
.name{
  margin:1.66%;
  font-size: 25px;
  border-bottom: 3px solid gray;
  width:30%;
  padding-bottom: 15px;
}
